<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" 
            text="Back"
            color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="Titulo">RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">Ingresar</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <ion-card-content>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
        <div style="color: red" *ngIf="loginForm.get('email')?.hasError('required')">
          *el email es obligatorio
        </div>
        <div style="color: red" *ngIf="loginForm.get('email')?.hasError('minlength')">
          *email debe tener minimo 8 caracteres  
        </div>
        <div style="color: red" *ngIf="loginForm.get('email')?.hasError('email')">
          *tiene que ser de formato email 
        </div>
      </div>

      <ion-item>
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        <div style="color: red" *ngIf="loginForm.get('password')?.hasError('required')">
          *La contraseña es obligatoria
        </div>
        <div style="color: red" *ngIf="loginForm.get('password')?.hasError('minlength')">
          *la contraseña debe tener minimo 8 caracteres  
        </div>
      </div>
      <br>
      <ion-row>
        <ion-col>
          <ion-button type="submit" [disabled]="!loginForm.valid" expand="block" shape="round">
            Ingresar
          </ion-button>
        </ion-col>
      </ion-row>
    </form>

  </ion-card-content>
</ion-card>
</ion-content>